<main>
  <div class="sign-up-container">
    <h2>Create your account</h2>
    <p>
      Already have an account?
      <span (click)="navigateToSignIn()" class="link pointer">Sign In!</span>
    </p>
    <div class="inputs">
      <app-input
        label="Name"
        [inputFormControl]="signUpForm.controls.name"
      ></app-input>
      <app-input
        label="Email"
        [inputFormControl]="signUpForm.controls.email"
      ></app-input>
      <app-input
        label="Password"
        type="password"
        [inputFormControl]="signUpForm.controls.password"
      ></app-input>
    </div>
    <app-button
      (clickEvent)="signUp()"
      [enableSpinner]="isLoading === 'signup'"
      text="Sign Up"
    ></app-button>
  </div>
</main>
