h1 {
  color: white;
}

main {
  background-color: #f4f4f5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
}

.sign-up-container {
  width: 50%;
  background-color: white;
  padding: 50px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.inputs {
  width: 100%;
}

app-input {
  display: block;
  margin-bottom: 10px;
}

app-button {
  width: 100%;
}
