main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.dashboard-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  max-width: 968px;
}

.saved-palettes-section {
  width: 100%;
}

.saved-palettes-section > .generated-palette-container {
  margin-bottom: 20px;
}

app-switch {
  display: block;
  width: 300px;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #b1c3f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.user-icon p {
  font-size: 18px;
  font-weight: 500;
}

.user-info > p {
  color: #5d5d5d;
}

.router-container {
  width: 100%;
}

.router-container::ng-deep > * {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  main {
    padding: 20px 10px;
  }
}
