:root {
  --app-blue: #146ef6;
  --border-color: #e0e0e0;
}

* {
  font-family: "Inter", sans-serif;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

app-root {
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

input,
textarea,
select,
button {
  font-size: 16px;
}

.pointer:hover {
  cursor: pointer;
}

.link {
  color: var(--app-blue);
}

.link:hover {
  text-decoration: underline;
}
